.cuerpo{
    position: absolute;
    margin-bottom: 70px;
    margin-top: 310px;
    z-index: -1;
    width: 100%;
}
.boton-add{
    background-color: #FF9900;
    width: 90px;
    height: 40px;
    border: none;
    color: #000;
}
.boton-add:hover{
    background-color: #A70000;
    color: rgb(255, 255, 255);
}
.in-title{
    white-space: 100%;
    text-align: center;
    font-size: 11px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #ffffff;
}
.fas{
    color: #E8E8E8;
    font-size: 30px;
    }