.cuerpo-pedidos{
    position: absolute;
    margin-bottom: 70px;
    margin-top: 280px;
    z-index: -1;
    width: 100%;
}
.total-resumen{
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-between;
    align-items: center;
}
.info-resumen{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 20% 20% 40% ;
    align-content: center;
    padding-left: 80px;
}
.resalt{
    font-weight: 800;
    margin-bottom: 5px;
}
.cont-btn{
    display: flex;
    justify-content: center;
}
.pedidos-titulo{
    text-align: left;
    width: 90%;
    color: #ffffff;
    font-size: 14px;
}
.colum-pedidos{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 10% 40% 20% 20% 10%;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    font-weight: 800;
    color: #A70000;
}
.list-pedidos{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 10% 40% 20% 20% 10%;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-weight: 400;
}
.list-pedidos span{
    color: #A70000;
    font-weight: 800;
}

hr{
    color: #FF9900;
    width: 90%;
}

.logo-min{
  margin-top: 2rem;
  margin-left: 2rem;
}